/* snappy scheme */
.cm-s-inner .cm-keyword {
    color: #f66153;
}

.cm-s-inner .cm-atom, .cm-s-inner.cm-atom {
    color: #f66153;
}

.cm-s-inner .cm-number {
    color: #4ea1df;
}

.cm-s-inner .cm-def {
    color: #808dd3;
}

.cm-s-inner .cm-variable,
.cm-s-inner .cm-variable-2,
.cm-s-inner .cm-variable-3 {
    color: #e3e2e0;
}

.cm-s-inner .cm-string,
.cm-s-inner .cm-string-2 {
    color: #4ea1df;
}

.cm-s-inner .cm-property {
    /* color: #e3e2e0; */
    color: #f66153;
}

.cm-s-inner .cm-operator {
    color: #f66153;
}

.cm-s-inner .cm-comment, .cm-s-inner.cm-comment {
    color: #696969;
}

.cm-s-inner .cm-meta {
    color: #4ea1df;
}

.cm-s-inner .cm-builtin {
    color: #808dd3;
}

.cm-s-inner .cm-bracket {
    color: #e3e2e0;
    /* < > </ > */
}

.cm-s-inner .cm-tag {
    color: #4ea1df;
}

.cm-s-inner .cm-attribute {
    color: #f66153;
}

.cm-s-inner .cm-header, .cm-s-inner.cm-header {
    color: #e3e2e0;
}

.cm-s-inner .cm-quote, .cm-s-inner.cm-quote {
    color: #4ea1df;
}

.cm-s-inner .cm-hr, .cm-s-inner.cm-hr {
    color: #e3e2e0;
}

.cm-s-inner .cm-link, .cm-s-inner.cm-link {
    /* color: #0000cc */
    color: #f66153;
}

.cm-negative {
    color: #e61f44;
}

.cm-positive {
    color: #A6E22E;
}