@import 'vue/fonts.css';

:root {
    --side-bar-bg-color: #1d1d1d;
    --control-text-color: #aaaaaa;
    --select-text-bg-color: hsl(153, 47%, 40%);
    --active-file-bg-color:  hsl(153, 47%, 40%);
    --select-text-font-color: #aaaaaa;
    --active-file-text-color: #eeeeee;
    --bg-color: #1d1d1d;
    --item-hover-bg-color: var(--select-text-bg-color);
    --text-color: #aaaaaa;
    --font-sans-serif: 'Source Sans Pro', sans-serif !important;
    --font-monospace: 'Fira Code', 'Roboto Mono', monospace !important;
}

.md-rawblock-control:not(.md-rawblock-tooltip) {
    background: #555;
    color: #eeeeee;
}

.md-rawblock-on-edit>.md-rawblock-tooltip, .md-rawblock:hover>.md-rawblock-container, .md-rawblock:hover>.md-rawblock-tooltip {
    background: #555;
    color: #eeeeee;
}

/* code color */
.cm-s-inner .cm-keyword {
    color: #bb7fc3
}

.cm-s-inner .cm-atom, .cm-s-inner.cm-atom {
    color: #9088cc
}

.cm-s-inner .cm-number {
    color: #88b2a1
}

.cm-s-inner .cm-def {
    color: #7f7fff
}

.cm-s-inner .cm-variable {
    color: #efefef
}

.cm-s-inner .cm-variable-2 {
    color: #7faad4
}

.cm-s-inner .cm-variable-3 {
    color: #7fc3aa
}

.cm-s-inner .cm-string {
    color: #d48888
}

.cm-s-inner .cm-property {
    color: #efefef
}

.cm-s-inner .cm-operator {
    color: #cb8c8c
}

.cm-s-inner .cm-comment, .cm-s-inner.cm-comment {
    color: hsl(0, 0%, 35%)
}

.cm-s-inner .cm-string-2 {
    color: #ffaa7f
}

.cm-s-inner .cm-meta {
    color: hsl(0, 0%, 33%)
}

.cm-s-inner .cm-qualifier {
    color: hsl(0, 0%, 33%)
}

.cm-s-inner .cm-builtin {
    color: #997fd4
}

.cm-s-inner .cm-bracket {
    color: #ccccbb
}

.cm-s-inner .cm-tag {
    color: #88bb7f
}

.cm-s-inner .cm-attribute {
    color: #7f7fe5
}

.cm-s-inner .cm-header, .cm-s-inner.cm-header {
    color: #7f7fff
}

.cm-s-inner .cm-quote, .cm-s-inner.cm-quote {
    color: #7fcc7f
}

.cm-s-inner .cm-hr, .cm-s-inner.cm-hr {
    color: hsl(0, 0%, 60%)
}

.cm-s-inner .cm-link, .cm-s-inner.cm-link {
    color: #7f7fe5
}

.cm-negative {
    color: #eea1a1
}

.cm-positive {
    color: #90cc90
}

.cm-header, .cm-strong {
    font-weight: 700
}

.cm-error {
    color: #ff7f7f
}

.cm-invalidchar {
    color: #ff7f7f
}

.cm-constant {
    color: #42b983
}

.cm-defined {
    color: #dac37f
}

div.CodeMirror span.CodeMirror-matchingbracket {
    color: #7fff7f
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
    color: #ff9090
}

.info-panel-tab:hover {
    color:  #42b983;
}

.outline-label:hover {
    text-decoration: none;
}

input {
    color: #42b983;
}

.info-panel-tab:hover {
    color:  #42b983;
}

.outline-label:hover {
    text-decoration: none;
}

input {
    color: #42b983;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background: var(--select-text-bg-color);
    color: #fff;
}

html {
    font-size: 16px;
}

body {
    font-family: var(--font-sans-serif);
    color: #eeeeee;
    background-color: #1f1f1f;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6rem;
    letter-spacing: 0;
    margin: 0;
    overflow-x: hidden;
}

#write {
    max-width: 860px;
    margin: 0 auto;
    padding: 20px 30px 40px 30px;
    padding-top: 20px;
    padding-bottom: 100px;
}

#write p {
    /* text-indent: 2rem; */
    line-height: 1.6rem;
    word-spacing: .05rem;
}

#write ol li {
    padding-left: 0.5rem;
}

#write > ul:first-child,
#write > ol:first-child {
    margin-top: 30px;
}

body > *:first-child {
    margin-top: 0 !important;
}

body > *:last-child {
    margin-bottom: 0 !important;
}

a {
    color: #42b983;
    font-weight: 600;
    padding: 0px 2px;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    text-decoration: none;
}

h1 tt,
h1 code {
    font-size: inherit;
}

h2 tt,
h2 code {
    font-size: inherit;
}

h3 tt,
h3 code {
    font-size: inherit;
}

h4 tt,
h4 code {
    font-size: inherit;
}

h5 tt,
h5 code {
    font-size: inherit;
}

h6 tt,
h6 code {
    font-size: inherit;
}

h1 {
    padding-bottom: .4rem;
    font-size: 2.2rem;
    line-height: 1.3;
}

h2 {
    font-size: 1.75rem;
    line-height: 1.225;
    margin: 35px 0px 15px 0px;
    padding-bottom: 0.5em;
    border-bottom: 2px solid hsl(0, 0%, 20%);
}

h3 {
    font-size: 1.4rem;
    line-height: 1.43;
    margin: 20px 0px 7px 0px;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 1rem;
    color: hsl(0, 0%, 53%);
}

p,
blockquote,
ul,
ol,
dl,
table {
    margin: 0.8em 0;
}

li > ol,
li > ul {
    margin: 0 0;
}

hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: hsl(0, 0%, 18%);
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

body > h2:first-child {
    margin-top: 0;
    padding-top: 0;
}

body > h1:first-child {
    margin-top: 0;
    padding-top: 0;
}

body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
}

body > h3:first-child,
body > h4:first-child,
body > h5:first-child,
body > h6:first-child {
    margin-top: 0;
    padding-top: 0;
}

a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5,
a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}

h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
    margin-top: 0;
}

li p.first {
    display: inline-block;
}

ul,
ol {
    padding-left: 30px;
}

ul:first-child,
ol:first-child {
    margin-top: 0;
}

ul:last-child,
ol:last-child {
    margin-bottom: 0;
}

blockquote {
    border-left: 4px solid #42b983;
    padding: 10px 0px 10px 15px;
    color: #eeeeee;
    background-color: rgba(66, 185, 131, .1);
}

table {
    font-family: var(--font-monospace);
    font-size: 0.85rem;
    padding: 0;
    overflow: hidden;
    word-break: initial;
}

table tr {
    border-top: 1px solid hsl(210, 10%, 11%);
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n),
thead {
    /* background-color: hsl(0, 0%, 2%); */
    background-color: hsl(0, 0%, 10%);
}

table tr th {
    font-weight: bold;
    /* border: 1px solid hsl(210, 10%, 11%); */
    border: transparent;
    border-bottom: 0;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table tr td {
    /* border: 2px solid hsl(210, 10%, 11%); */
    /* border: 2px solid hsl(0, 0%, 4%); */
    border: 2px solid #1d1d1d;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
}

table tr th:last-child,
table tr td:last-child {
    margin-bottom: 0;
}

#write table thead th {
    /* background-color: hsl(0, 0%, 5%); */
    background-color: hsl(0, 0%, 9%);
}

#write .CodeMirror-gutters {
    border-right: none;
}

#write .md-fences {
    border: 1px solid hsl(0, 0%, 11%);
    -webkit-font-smoothing: initial;
    margin: 0.8rem 0 !important;
    padding: 0.3rem 0rem !important;
    line-height: 1.43rem;
    color: hsl(0, 0%, 78%);
    background-color: hsl(0, 0%, 10%) !important;
    border-radius: 2px;
    font-family: var(--font-monospace);
    font-weight: bold;
    font-size: 0.85rem;
    word-wrap: normal;
}

#write .CodeMirror-wrap .CodeMirror-code pre {
    padding-left: 12px;
}

#write code, tt {
    padding: 2px 4px;
    border-radius: 2px;
    font-family: var(--font-monospace);
    font-weight: bold;
    font-size: 0.85rem;
    color: #f3b37f;
    background-color: hsla(0, 0%, 0%, 0.2);
}

tt {
    margin: 0 2px;
}

#write .md-footnote {
    background-color: hsla(0, 0%, 0%, 0.2);
    color: #f3b37f;
}

/* heighlight. */
#write mark {
    background-color: #EBFFEB;
    border-radius: 2px;
    padding: 2px 4px;
    margin: 0 2px;
    color: #222;
    font-weight: 500;
}

#write del {
    padding: 1px 2px;
}

.cm-s-inner .cm-link,
.cm-s-inner.cm-link {
    color: #22a2c9;
}

.cm-s-inner .cm-string {
    color: #22a2c9;
}

.md-task-list-item > input {
    margin-left: -1.3em;
}

@media screen and (min-width: 914px) {
    /*body {
        width: 854px;
        margin: 0 auto;
    }*/
}

@media print {
    html {
        font-size: 13px;
    }

    table,
    pre {
        page-break-inside: avoid;
    }

    pre {
        word-wrap: break-word;
    }
}

#write pre.md-meta-block {
    padding: 1rem;
    font-size: 85%;
    line-height: 1.45;
    background-color: hsl(0, 0%, 3%);
    border: 0;
    border-radius: 3px;
    color: hsl(0, 0%, 53%);
    margin-top: 0 !important;
}

.mathjax-block > .code-tooltip {
    bottom: .375rem;
}

#write > h3.md-focus:before {
    left: -1.5625rem;
    top: .375rem;
}

#write > h4.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

#write > h5.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

#write > h6.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

.md-image > .md-meta {
    border-radius: 3px;
    font-family: var(--font-monospace);
    padding: 2px 0px 0px 4px;
    font-size: 0.9em;
    color: inherit;
}

.md-tag {
    color: inherit;
}

.md-toc {
    margin-top: 20px;
    padding-bottom: 20px;
}

.md-diagram-panel {
    position: static !important;
}

.sidebar-tabs {
    border-bottom: none;
}

#typora-quick-open {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

#typora-quick-open-item {
    background-color: hsl(0, 0%, 2%);
    border-color: hsl(0, 0%, 0%) hsl(0, 0%, 10%) hsl(0, 0%, 10%) hsl(0, 0%, 7%);
    border-style: solid;
    border-width: 1px;
}

#md-notification:before {
    top: 10px;
}

/** focus mode */

.on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
}

header,
.context-menu,
.megamenu-content,
footer {
    font-family: var(--font-sans-serif);
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state {
    visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
    background-color: hsl(0, 0%, 2%);
    background-color: var(--side-bar-bg-color);
}

.md-lang {
    color: #42b983;
}

.html-for-mac .context-menu {
    --item-hover-bg-color: hsl(215, 92%, 5%);
}

#typora-sidebar {
    font-family: var(--font-sans-serif);
    font-weight: bold;
}

.file-list-item-summary{
    font-family: var(--font-sans-serif);
    font-weight: 400;
}

.file-list-item {
    border-bottom: 0.15rem solid hsl(0, 0%, 18%);
}

.file-list-item.active {
    background: hsl(0, 0%, 15%) !important;
}

.file-node-background {
    height: 29px;
}

#toc-dropmenu {
    background: hsl(0, 0%, 18%) !important;
    font-weight: bold;
}

#toc-content {
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

#toc-content a:hover {
    text-decoration: none;
}

.outline-item {
    /* transition: color 150ms, background-color 150ms; */
    transition: color 150ms;
}

.outline-item:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #42b983;
}

.sidebar-footer {
    border-top: 2px solid hsl(0, 0%, 15%) !important;
}

.footer-item:hover, .sidebar-footer-item:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.file-tree-node.active>.file-node-background {
    background-color: hsl(0, 0%, 15%) !important;
}

.file-node-content:hover {
    color: #eeeeee;
}

html{
    background: #1f1f1f !important;
}

.outline-title-wrapper {
    display: none;
}

.dropdown-menu .divider {
    display: none;
    height: 2px;
    background-color: hsl(0, 0%, 13%);
}

.dropdown-menu>li>a {
    color: #eeeeee;
}

.autoComplt-hint {
    color: #42b983 !important;
    /* border-color: transparent !important */
}

.auto-suggest-container {
    color: #42b983 !important;
    font-family: var(--font-sans-serif);
    font-weight: bold !important;
    border-color: #42b983 !important;
    border-radius: 8px !important;
    border-width: 2px !important;
    margin-top: 5px;
    overflow: hidden !important;
    box-shadow: 0 0 1rem hsla(153, 47%, 49%, 0.3);
}

/* .auto-suggest-container li { */
    /* transition: all 150ms; */
    /* text-align: center !important; */
/* } */

.auto-suggest-container li:hover {
    color: #eeeeee !important;
    background-color: #42b983 !important;
    /* text-align: right !important; */
}

/* windows */
/* .modal-dialog { */
    /* color: #000; */
/* } */

.typora-sourceview-on #toggle-sourceview-btn{
    background-color: #42b983
}

/* cursor */
.CodeMirror.cm-s-typora-default div.CodeMirror-cursor {
    border-left: 5px solid #42b983;
}

.CodeMirror div.CodeMirror-cursor {
    border-left: 5px solid #42b983;
    z-index: 3;
}

/* selected text */
/* .CodeMirror-selecte { */
    /* background-color: hsla(153, 47%, 49%, 0.5) !important; */
    /* color: #eeeeee !important; */
/* } */

.ty-preferences {
    color: #aaaaaa;
}

.ty-preferences .btn-default:not([disabled]):hover {
    background-color: var(--active-file-bg-color);
    background-image: none;
    color: #fff;
}

.ty-preferences .search-hit {
    background: var(--select-text-bg-color)
}

::-webkit-scrollbar-thumb {
    background: #ffffff5e;
}

::-webkit-scrollbar-thumb:active {
    background: #ffffff9c;
}
